<div class="row">
  <div class="col-md-12">
    <p-card header="Employees">
      <p-table #dt1 [value]="employees" dataKey="id"
        [rows]="10" [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50]" [loading]="loading" styleClass="p-datatable-gridlines"
        [paginator]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [globalFilterFields]="['user.firstName','user.lastName',]">
        <ng-template pTemplate="caption">
            <div class="p-d-flex">
                <button pButton label="Clear" class="p-button-outlined" icon="pi pi-filter-slash" (click)="clear(dt1)"></button>
                <span class="p-input-icon-left p-ml-auto">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="dt1.filterGlobal($event.target.value, 'contains')" placeholder="Search keyword" />
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th>
                    <div class="p-d-flex p-jc-between p-ai-center">
                        Firstname
                        <p-columnFilter type="text" field="user.firstName" display="menu"></p-columnFilter>
                    </div>
                </th>
                <th>
                    <div class="p-d-flex p-jc-between p-ai-center">
                        Lastname
                        <p-columnFilter type="text" field="user.lastName" display="menu"></p-columnFilter>
                    </div>
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-employee>
            <tr>
                <td>
                    {{employee.user.firstName}}
                </td>
                <td>
                    {{employee.user.lastName}}
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="2">No employees found.</td>
            </tr>
        </ng-template>
    </p-table>
  </p-card>
  </div>
  <div class="row">
  <div class="col-md-12">
    <p-card header="Employees chart">
      <p-organizationChart [value]="chartData" styleClass="company">
        <ng-template let-node pTemplate="person">
            <div class="node-header p-corner-top">{{node.label}}</div>
            <div class="node-content">
                <img [src]="node.data.avatar" width="150">
                <div>{{node.data.name}}</div>
            </div>
        </ng-template>
        <ng-template let-node pTemplate="department">
            {{node.label}}
        </ng-template>
    </p-organizationChart>
    </p-card>
  </div>
 </div>
