<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="monthlyOutgoingsInvoice">
      <h2 data-cy="monthlyOutgoingsInvoiceDetailsHeading">
        <span jhiTranslate="createyourideasApp.monthlyOutgoingsInvoice.detail.title">Monthly Outgoings Invoice</span>
      </h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ monthlyOutgoingsInvoice.id }}</span>
        </dd>
        <dt><span jhiTranslate="createyourideasApp.monthlyOutgoingsInvoice.total">Total</span></dt>
        <dd>
          <span>{{ monthlyOutgoingsInvoice.total }}</span>
        </dd>
        <dt><span jhiTranslate="createyourideasApp.monthlyOutgoingsInvoice.date">Date</span></dt>
        <dd>
          <span>{{ monthlyOutgoingsInvoice.date | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="createyourideasApp.monthlyOutgoingsInvoice.idea">Idea</span></dt>
        <dd>
          <div *ngIf="monthlyOutgoingsInvoice.idea">
            <a [routerLink]="['/idea', monthlyOutgoingsInvoice.idea?.id, 'view']">{{ monthlyOutgoingsInvoice.idea?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/monthly-outgoings-invoice', monthlyOutgoingsInvoice.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
