<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="ideaTransactionId">
      <h2 data-cy="ideaTransactionIdDetailsHeading">
        <span jhiTranslate="createyourideasApp.ideaTransactionId.detail.title">Idea Transaction Id</span>
      </h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ ideaTransactionId.id }}</span>
        </dd>
        <dt><span jhiTranslate="createyourideasApp.ideaTransactionId.transactionId">Transaction Id</span></dt>
        <dd>
          <span>{{ ideaTransactionId.transactionId }}</span>
        </dd>
        <dt><span jhiTranslate="createyourideasApp.ideaTransactionId.refNo">Ref No</span></dt>
        <dd>
          <span>{{ ideaTransactionId.refNo }}</span>
        </dd>
        <dt><span jhiTranslate="createyourideasApp.ideaTransactionId.date">Date</span></dt>
        <dd>
          <span>{{ ideaTransactionId.date | formatMediumDatetime }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/idea-transaction-id', ideaTransactionId.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
