<div class="footer">
  <div class="share-buttons">
    <div class="share-buttons-container">
      <share-buttons></share-buttons>
    </div>
  </div>
	<div class="row">
		<div class="col-md-2">
		</div>
		<div class="col-md-4">
      <div class="brown_box padding-20 margin-20">
        <p class="address">
          <span class="bold">Create Your Event - Inh. Baumann</span><br/>
          Neutalstrasse 4<br/>
          8207 Herblingen- Schaffhausen
        </p>
      </div>
		</div>
		<div class="col-md-4">
      <div class="brown_box padding-20 margin-20">
        <p class="address">
          Tel: 078 729 63 96<br/>
          Email: ceo@createyourevent.org<br/>
          Web: <a href="https://createyourevent.org">https://createyourevent.org</a><br/>
          Firmen-Nr.: CHE-324.268.428
        </p>
      </div>
		</div>
		<div class="col-md-2">
		</div>
	</div>
</div>
