<h1>My jobs for all ideas</h1>
<p>
  Down you will see all ideas, where you are an employee of it. Here you could write your workbooks, see your incomes and many more.
</p>


<p-table #dt1 [value]="ideas" dataKey="id"
[rows]="10" [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50]" [loading]="loading" styleClass="p-datatable-gridlines"
[paginator]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
[globalFilterFields]="['title','user.lastName','user.firstName','date']">
<ng-template pTemplate="caption">
    <div class="p-d-flex">
        <button pButton label="Clear" class="p-button-outlined" icon="pi pi-filter-slash" (click)="clear(dt1)"></button>
        <span class="p-input-icon-left p-ml-auto">
            <i class="pi pi-search"></i>
            <input pInputText type="text" (input)="dt1.filterGlobal($event.target.value, 'contains')" placeholder="Search keyword" />
        </span>
    </div>
</ng-template>
<ng-template pTemplate="header">
    <tr>
        <th>
            <div class="p-d-flex p-jc-between p-ai-center">
                Title
                <p-columnFilter type="text" field="name" display="menu"></p-columnFilter>
            </div>
        </th>
        <th>
          <div class="p-d-flex p-jc-between p-ai-center">
              Logo
          </div>
        </th>
        <th>
            <div class="p-d-flex p-jc-between p-ai-center">
                Ideaowner firstname
                <p-columnFilter type="text" field="country.name" display="menu"></p-columnFilter>
            </div>
        </th>
        <th>
          <div class="p-d-flex p-jc-between p-ai-center">
              Ideaowner lastname
              <p-columnFilter type="text" field="country.name" display="menu"></p-columnFilter>
          </div>
      </th>
        <th>
            <div class="p-d-flex p-jc-between p-ai-center">
                Date
                <p-columnFilter type="date" field="date" display="menu"></p-columnFilter>
            </div>
        </th>
        <th>
          <div class="p-d-flex p-jc-between p-ai-center">
              Action
          </div>
      </th>
    </tr>
</ng-template>
<ng-template pTemplate="body" let-idea>
    <tr>
        <td>
            {{idea.title}}
        </td>
        <td>
          <img [src]="'data:' + idea.logoContentType + ';base64,' + idea.logo" style="max-height: 30px" alt="{{ idea.title }}" />
      </td>
        <td>
          {{idea.user.firstName}}
      </td>
      <td>
        {{idea.user.lastName}}
      </td>
        <td>
            {{idea.date | date: 'medium'}}
        </td>
        <td class="text-right">
          <div class="btn-group">
            <button type="submit" [routerLink]="['/employee', idea.id, 'worksheets']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
              <fa-icon icon="scroll"></fa-icon>
              <span class="d-none d-md-inline" jhiTranslate="navbar.worksheets">Worksheets</span>
            </button>

            <!--
            <button type="submit" [routerLink]="['/dashboard', idea.id, 'view']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
              <fa-icon icon="money-bill"></fa-icon>
              <span class="d-none d-md-inline" jhiTranslate="idea-list.finance-accounting">Finance/Accounting</span>
            </button>

            <button type="submit" [routerLink]="['/ideas', idea.id, 'employee-management']" class="btn btn-info btn-sm" data-cy="entityEditButton">
              <fa-icon icon="user"></fa-icon>
              <span class="d-none d-md-inline" jhiTranslate="idea-list.employee-management">Employee management</span>
            </button>

            <button type="submit" [routerLink]="['/dashboard', idea.id, 'view']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
              <fa-icon icon="pencil-alt"></fa-icon>
              <span class="d-none d-md-inline" jhiTranslate="idea-list.dashboard">Dashboard</span>
            </button>
            -->
          </div>
      </td>
    </tr>
</ng-template>
<ng-template pTemplate="emptymessage">
    <tr>
        <td colspan="4">No ideas found.</td>
    </tr>
</ng-template>
</p-table>
