<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="monthlyIncomeInvoice">
      <h2 data-cy="monthlyIncomeInvoiceDetailsHeading">
        <span jhiTranslate="createyourideasApp.monthlyIncomeInvoice.detail.title">Monthly Income Invoice</span>
      </h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ monthlyIncomeInvoice.id }}</span>
        </dd>
        <dt><span jhiTranslate="createyourideasApp.monthlyIncomeInvoice.total">Total</span></dt>
        <dd>
          <span>{{ monthlyIncomeInvoice.total }}</span>
        </dd>
        <dt><span jhiTranslate="createyourideasApp.monthlyIncomeInvoice.date">Date</span></dt>
        <dd>
          <span>{{ monthlyIncomeInvoice.date | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="createyourideasApp.monthlyIncomeInvoice.idea">Idea</span></dt>
        <dd>
          <div *ngIf="monthlyIncomeInvoice.idea">
            <a [routerLink]="['/idea', monthlyIncomeInvoice.idea?.id, 'view']">{{ monthlyIncomeInvoice.idea?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/monthly-income-invoice', monthlyIncomeInvoice.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
