<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="donation">
      <h2 data-cy="donationDetailsHeading"><span jhiTranslate="createyourideasApp.donation.detail.title">Donation</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ donation.id }}</span>
        </dd>
        <dt><span jhiTranslate="createyourideasApp.donation.amount">Amount</span></dt>
        <dd>
          <span>{{ donation.amount }}</span>
        </dd>
        <dt><span jhiTranslate="createyourideasApp.donation.date">Date</span></dt>
        <dd>
          <span>{{ donation.date | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="createyourideasApp.donation.billed">Billed</span></dt>
        <dd>
          <span>{{ donation.billed }}</span>
        </dd>
        <dt><span jhiTranslate="createyourideasApp.donation.txId">Tx Id</span></dt>
        <dd>
          <div *ngIf="donation.txId">
            <a [routerLink]="['/idea-transaction-id', donation.txId?.id, 'view']">{{ donation.txId?.id }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="createyourideasApp.donation.user">User</span></dt>
        <dd>
          <span>{{ donation.user?.id }}</span>
        </dd>
        <dt><span jhiTranslate="createyourideasApp.donation.idea">Idea</span></dt>
        <dd>
          <div *ngIf="donation.idea">
            <a [routerLink]="['/idea', donation.idea?.id, 'view']">{{ donation.idea?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/donation', donation.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
