<div>
  <h2 id="page-heading" data-cy="IdeaLikeDislikeHeading">
    <span jhiTranslate="createyourideasApp.ideaLikeDislike.home.title">Idea Like Dislikes</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="createyourideasApp.ideaLikeDislike.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-idea-like-dislike"
        [routerLink]="['/idea-like-dislike/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="createyourideasApp.ideaLikeDislike.home.createLabel"> Create a new Idea Like Dislike </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="ideaLikeDislikes?.length === 0">
    <span jhiTranslate="createyourideasApp.ideaLikeDislike.home.notFound">No ideaLikeDislikes found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="ideaLikeDislikes && ideaLikeDislikes.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="createyourideasApp.ideaLikeDislike.like">Like</span></th>
          <th scope="col"><span jhiTranslate="createyourideasApp.ideaLikeDislike.dislike">Dislike</span></th>
          <th scope="col"><span jhiTranslate="createyourideasApp.ideaLikeDislike.date">Date</span></th>
          <th scope="col"><span jhiTranslate="createyourideasApp.ideaLikeDislike.comment">Comment</span></th>
          <th scope="col"><span jhiTranslate="createyourideasApp.ideaLikeDislike.idea">Idea</span></th>
          <th scope="col"><span jhiTranslate="createyourideasApp.ideaLikeDislike.user">User</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let ideaLikeDislike of ideaLikeDislikes; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/idea-like-dislike', ideaLikeDislike.id, 'view']">{{ ideaLikeDislike.id }}</a>
          </td>
          <td>{{ ideaLikeDislike.like }}</td>
          <td>{{ ideaLikeDislike.dislike }}</td>
          <td>{{ ideaLikeDislike.date | formatMediumDatetime }}</td>
          <td>{{ ideaLikeDislike.comment }}</td>
          <td>
            <div *ngIf="ideaLikeDislike.idea">
              <a [routerLink]="['/idea', ideaLikeDislike.idea?.id, 'view']">{{ ideaLikeDislike.idea?.id }}</a>
            </div>
          </td>
          <td>
            {{ ideaLikeDislike.user?.id }}
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/idea-like-dislike', ideaLikeDislike.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/idea-like-dislike', ideaLikeDislike.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(ideaLikeDislike)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
