<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="ideaLikeDislike">
      <h2 data-cy="ideaLikeDislikeDetailsHeading">
        <span jhiTranslate="createyourideasApp.ideaLikeDislike.detail.title">Idea Like Dislike</span>
      </h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ ideaLikeDislike.id }}</span>
        </dd>
        <dt><span jhiTranslate="createyourideasApp.ideaLikeDislike.like">Like</span></dt>
        <dd>
          <span>{{ ideaLikeDislike.like }}</span>
        </dd>
        <dt><span jhiTranslate="createyourideasApp.ideaLikeDislike.dislike">Dislike</span></dt>
        <dd>
          <span>{{ ideaLikeDislike.dislike }}</span>
        </dd>
        <dt><span jhiTranslate="createyourideasApp.ideaLikeDislike.date">Date</span></dt>
        <dd>
          <span>{{ ideaLikeDislike.date | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="createyourideasApp.ideaLikeDislike.comment">Comment</span></dt>
        <dd>
          <span>{{ ideaLikeDislike.comment }}</span>
        </dd>
        <dt><span jhiTranslate="createyourideasApp.ideaLikeDislike.idea">Idea</span></dt>
        <dd>
          <div *ngIf="ideaLikeDislike.idea">
            <a [routerLink]="['/idea', ideaLikeDislike.idea?.id, 'view']">{{ ideaLikeDislike.idea?.id }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="createyourideasApp.ideaLikeDislike.user">User</span></dt>
        <dd>
          <span>{{ ideaLikeDislike.user?.id }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/idea-like-dislike', ideaLikeDislike.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
